<a href="https://colab.research.google.com/github/Harishgalax/Data-Structure-and-Algorithm/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import time
import sys

l= range(1000)
print(sys.getsizeof(5)*len(l))

array = np.arange(1000)
print(array.size*array.itemsize)

28000
8000

In [ ]:
import numpy as np
import time
import sys

SIZE = 1000000

l1= range(SIZE)
l2= range(SIZE)
a1 = np.arange(SIZE)
a2 = np.arange(SIZE)

#python list
start = time.time()
result = [(x+y) for x,y in zip(l1,l2)]
print("python list took:",(time.time()-start)*1000)

#numpy array
start = time.time()
result = a1 + a2
print("numpy array took:",(time.time()-start)*1000)

python list took: 121.85144424438477
numpy array took: 25.79021453857422

In [ ]:
import numpy as np
#for one dimentional array
a=np.array([5,6,9])
a[0]
a[1]
a[2]
a[0:2]
a[1:]
a.ndim
a.size
a.dtype
a.shape
a.itemsize
#for 2 dimensional array
a=np.array([[1,2,3],[4,5,6]])
a[0]
a[1]
a[0][0]
a[1][1]
a.ndim
a.size
a.dtype
a.shape
a.itemsize
#for complex datatype
a=np.array([[1,2,3],[4,5,6]],dtype=complex)
a[0]
#for initializing array with all zeroes/ones
import numpy as np
np.zeros((2,3))
np.ones((2,3))
#to create an array
np.arange(1,5)#array will be from 1 to 4
np.arange(1,5,2)#array will be from 1 to 4 with step
np.linspace(1,5,4)#array will be from 1 to 5 with 2 elements
#reshape of array
a=np.arange(1,10)
a.reshape(3,3) #reshape array
a.reshape(3,3).T #transpose of array

a=np.array([[1,2],
       [3,4],
        [5,6]])
a.min()
a.max()
a.sum()
a.mean()
a.std()
a.var()

array([2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
import numpy as np
#indexing and slicing
a=np.arange(1,10)
a[0] # printing list of only first element
a[1] # printing list of only second element
a[2] # printing list of only third element
a[0:2] # printing list of first two elements
a[1:] # printing list of second to last element
a[-1] # printing list of last element
a[-2] # printing list of second last element
#iterating through arrays
for i in a:
    print(i) #flattening of array




#stacking together two arrays
a=np.arange(6).reshape(3,2) #taking from 0 to 5 and creating array of 3x2
b=np.arange(6,12).reshape(3,2) #taking from 6 to 11 and creating array of 3x2
np.vstack((a,b)) #stacking array vertically
np.hstack((a,b)) #stacking array horizontally
a=np.arange(30).reshape(2,15) #taking from 0 to 29 and creating array of 2x15
b=np.arange(15).reshape(15,1) #taking from 0 to 14 and creating array of 15x1
np.hsplit(a,3) #splitting array horizontally
np.vsplit(b,3) #splitting array vertically

# The line below caused the error. To fix, transpose 'b' before stacking
np.vstack((a,b.T)) # Now the number of columns match for vertical stacking


#indexing with boolean arrays

1
2
3
4
5
6
7
8
9

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14]])

In [ ]:
import numpy as np
a= np.arange(12).reshape(3,4)
a # 0,1,2,3
  # 4,5,6,7
  # 8,9,10,11
for row in a:
    for cell in row:
      print(cell)#o/p : vertically 1 to 11

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
for x in np.nditer(a,order='F'):
  print(x)#printing vertically each column wise

0
4
8
1
5
9
2
6
10
3
7
11

In [ ]:
for x in np.nditer(a,order='C'):
  print(x)#printing each row wise vertically

0
1
2
3
4
5
6
7
8
9
10
11